.title {
  font-family: Helvetica, sans-serif;
  border-radius: 20px;
  text-align: center;

  position: relative;
  top: 20px;
  margin-left: 50px;
  margin: auto;
  color: #666;
}

a {
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
a:hover {
  font-weight: 520;
}
ul {
  list-style-type: none;
}
li {
  position: relative;
  margin-left: 15px;
}

.version {
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: 21px;
  width: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #aeaeae;
}

.imgPequena {
  height: 20px;
  justify-self: center;
}
.imgGrande  {
  height: 15px;
}

a p {
  justify-content: center;
}